- title "Loan Calculator"
- if @result
  %h2 Result:
  %p
    %p
      Total Interest Payable:
      = number_to_currency @result[:total_payable_interest], :precision => 2 
    %p
      Monthly Installment:
      = number_to_currency @result[:installment], :precision => 2
      per Monthly for
      = @result[:no_of_terms]
      monthly
= semantic_form_for @calculator, :url => calculate_calculators_path, :html => {:method => :put} do |form|
  = form.inputs do
    = form.input :loan_type, :as => :radio, :collection => [["Simple", :simple]], :include_blank => false
    = form.input :amount
    = form.input :rate_interest
    = form.input :percent_per, :as => :select, :collection => ["Annually", "Monthly", "Weekly", "Fortnightly"], :include_blank => false
    = form.input :no_of_terms
    = form.input :terms_units, :as => :select, :collection => ["Months"], :include_blank => false

  = form.buttons do
    = submit_tag "Calculate"
