- title "Loan Calculator"
- if @result
  %h2 Result:
  %p
    %p
      Total Interest Payable:
      = number_to_currency @result[:total_payable_interest], :precision => 2 
    %p
      Monthly Installment:
      = number_to_currency @result[:installment], :precision => 2
      per Monthly for
      = @result[:no_of_terms]
      monthly
= form_for @calculator, :url => calculate_calculators_path, :html => {:method => :put} do |form|
  %h3 Loan type
  %p
    = form.radio_button :loan_type, :simple
    = form.label :loan_type_simple, "Simple"
  %p
    = form.radio_button :loan_type, :monthly_cum_daily
    = form.label :loan_type_monthly_cum_daily, "Monthly cum Daily Interest (Monthly)"
  %p
    = form.radio_button :loan_type, :daily
    = form.label :loan_type_daily, "Daily (Monthly)"

  %p
    = form.label :amount, "Loan Amount"
    = form.text_field :amount

  %p
    = form.label :rate_interest, "Rate of Interest"
    = form.text_field :rate_interest
    = form.label :percent_per, "% Per"
    = form.select :percent_per, options_for_select(["Annually", "Monthly", "Weekly", "Fortnightly"])

  %p
    = form.label :no_of_terms, "No of Terms"
    = form.text_field :no_of_terms

    = form.label :terms_units, "Terms Units"
    = form.select :terms_units, options_for_select(["Months"])

  %p
    = submit_tag "Calculate"
