- title "For Submission / Quarterly"

%h2 Loan Position
= form_for @reports_params, :url => :reports_for_submission_quarterly_loan_position, :html => { :method => :get } do |form|
  %p
    = form.label :date_start, "Year"
    = form.date_select :date_start, :discard_day => true, :discard_month => true
    = form.label :date_start, "Quarter"
    = form.select :quarter, options_for_select([1,2,3,4])
  %p
    = submit_tag "Create Report"


%h2 Cash Position
= form_for @reports_params, :url => :reports_for_submission_quarterly_cash_position, :html => { :method => :get } do |form|
  %p
    = form.label :date_start, "Year"
    = form.date_select :date_start, :discard_day => true, :discard_month => true
    = form.label :date_start, "Quarter"
    = form.select :quarter, options_for_select([1,2,3,4])
  %p
    = submit_tag "Create Report"



