%h2 Statement for #{@reports_params.quarter}th Quarter of #{@reports_params.date_start.year}

.report_header
  %table
    %tr
      %td.strong Part A: Cash Position 
      %td
      %td.strong Date:
      %td= d Time.now
    %tr
      %td.strong Reference No.:
      %td= current_user.company_profile.rom_reference
      %td.strong Name of Contact person:
      %td= current_user.name
    %tr
      %td.strong Business Name:
      %td= current_user.company_profile.contact_person
      %td.strong Designation:
      %td
    %tr
      %td.strong Business Address:
      %td
      %td.strong Telephone No.:
      %td= current_user.company_profile.contact_person_office_phone


.report
  %table
    %tr
      %th Particulars
      %th.date{:colspan => 2}= l @reports_params.date_start, :format => "%B"
      %th.date{:colspan => 2}= l @reports_params.date_start + 1.month, :format => "%B"
      %th.date{:colspan => 2}= l @reports_params.date_start + 2.months, :format => "%B"
      %th{:colspan => 2} Quarterly Total
    %tr
      %th
        %u Opening cash balance
      %th $
      %th $

      %th $
      %th $

      %th $
      %th $

      %th $
      %th $
    - start = @reports_params.date_start
    %tr
      %th.strong Book
    - current_user.books.each do |book|
      %tr
        %th= book.name
        - quarter_periods(start, :total => true).each do |period|
          %td= c book.balance_at period[:from]
          %td= c book.balance_at period[:from]
    %tr
      %th
        %u Add
    %tr
      %th Receipts
    %tr
      %th Loan repayments:
    %tr
      %th Unsecured
      - quarter_periods(start, :total => true).each do |period|
        %td= c current_user.principal_sum period
        %td= c current_user.principal_sum period

    %tr
      %th Interest Received:
    %tr
      %th Unsecured
      - quarter_periods(start, :total => true).each do |period|
        %td= c current_user.interest_sum period
        %td= c current_user.interest_sum period

    %tr
      %th *Other receipts:
      - quarter_periods(start, :total => true).each do |period|
        %td= c 0.0
        %td= c 0.0

    %tr
      %th
        %u Deduct
    %tr
      %th Payments
    %tr
      %th Loan granted:
    %tr
      %th Unsecured
      - quarter_periods(start, :total => true).each do |period|
        %td= c current_user.disbursements_sum period
        %td= c current_user.disbursements_sum period
    %tr
      %th
        %u Closing loan balance
    %tr
      %th.strong Book
    - current_user.books.each do |book|
      %tr
        %th= book.name
        - quarter_periods(start, :total => true).each do |period|
          %td= c book.balance_at period[:to]
          %td= c book.balance_at period[:to]
