%h2 Statement for #{@reports_params.quarter}th Quarter of #{@reports_params.date_start.year}

.report_header
  %table
    %tr
      %td.strong Part B: Loan Position 
      %td
      %td.strong Date:
      %td= d Time.now
    %tr
      %td.strong Reference No.:
      %td= current_user.company_profile.rom_reference
      %td.strong Name of Contact person:
      %td= current_user.name
    %tr
      %td.strong Business Name:
      %td= current_user.company_profile.contact_person
      %td.strong Designation:
      %td
    %tr
      %td.strong Business Address:
      %td
      %td.strong Telephone No.:
      %td= current_user.company_profile.contact_person_office_phone


.report
  %table
    %tr
      %th.date.first Particulars
      %th.date{:colspan => 2}= l @reports_params.date_start, :format => "%B"
      %th.date{:colspan => 2}= l @reports_params.date_start + 1.month, :format => "%B"
      %th.date{:colspan => 2}= l @reports_params.date_start + 2.months, :format => "%B"
      %th.date{:colspan => 2} Quarterly Total
    %tr
      %th
        %u Opening loan balance
      %th.mark.not-border $
      %th.mark $

      %th.mark.not-border $
      %th.mark $

      %th.mark.not-border $
      %th.mark $

      %th.mark.not-border $
      %th.mark $
    - start = @reports_params.date_start
    %tr
      %th Unsecured
      - quarter_periods(start, :total => true).each do |period|
        %td= c current_user.balance_at period[:from]
        %td.u.right-border= c current_user.balance_at period[:from]

    %tr.clear-tr
      %th
        %u Add
      %td
      %td.right-border
      %td
      %td.right-border
      %td
      %td.right-border
      %td
      %td.right-border
    %tr
      %th Loans granted
      - quarter_periods(start, :total => true).each do |period|
        %td= c current_user.disbursements_sum period
        %td.u.right-border= c current_user.disbursements_sum period

    %tr.clear-tr
      %th
        %u Deduct
      %td
      %td.right-border
      %td
      %td.right-border
      %td
      %td.right-border
      %td
      %td.right-border
    %tr
      %th Loans repayments
      - quarter_periods(start, :total => true).each do |period|
        %td= c current_user.payments_sum period
        %td.u.right-border= c current_user.payments_sum period

    %tr.clear-tr
      %th
        %u Closing loan balance
      %td
      %td.right-border
      %td
      %td.right-border
      %td
      %td.right-border
      %td
      %td.right-border
    %tr
      %th Unsecured
      - quarter_periods(start, :total => true).each do |period|
        %td= c current_user.balance_at period[:to]
        %td.u.right-border= c current_user.balance_at period[:to]
    %tr.clear-tr.last-tr
      %td.right-border
      %td
      %td.right-border
      %td
      %td.right-border
      %td
      %td.right-border
      %td
      %td.right-border

= render "shared/print"
