= semantic_form_for @person, :html => { :multipart => true } do |form|
  = form.inputs do
    = form.error_messages
    = form.input :name
    = form.input :birth_at,     :start_year => 1920
    = form.input :citizenship
    = form.input :identification_no
    = form.input :designation
    = form.input :mail_address
    = form.input :business_address
    = form.input :business_phone
    = form.input :home_phone
    = form.input :hand_phone
    = form.input :email
    = form.input :annual_income
    = form.input :photo
    = image_tag @person.photo.url(:thumb)
  = form.buttons do
    = form.commit_button
