- title "People"
%table.people
  %tr
    %th Name
    %th Actions
  - for person in @people
    %tr
      %td= person.name
      %td
        = link_to "Show", person
        = link_to "Edit", edit_person_path(person)
        = link_to "Destroy", person, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Person", new_person_path
