- title "Borrower History as on #{d Time.now}"

.report_header
  %p
    %span.dt Borrower Name:
    %span.dl= @borrower.name

.report
  %table.borrower-st
    %tr
      %th.date.center{:rowspan => 2} Loan Account No.
      %th.date.center{:rowspan => 2} Date of Loan
      %th.date.center{:rowspan => 2} Status
      %th.date.center{:rowspan => 2} Loan Amount
      %th.date.center{:rowspan => 2} Interest Rate
      %th.date.center{:rowspan => 2} Date of Maturity
      %th.date.center{:colspan => 4} Paid
      %th.date.center{:rowspan => 2} No. of late payments
      %th.date.center{:rowspan => 2} Avg Days of Late payments
      %th.date.center{:rowspan => 2} No of Cheque Dishonours
    %tr
      %th.date.center Principal
      %th.date.center Interest
      %th.date.center Permitted Fees
      %th.date.center Late Interest
    - @transactions.each do |t|
      %tr
        %td.a-left-cell= t.loan.account_no
        %td.center= t.loan.application
        %td.center= t.loan.state.titleize
        %td.a-right-cell= t.loan.amount
        %td.a-right-cell= t.loan.interest
        %td.center= d t.loan.maturity_at
        %td.a-right-cell= c t.principal
        %td.a-right-cell= c t.interest
        %td.a-right-cell= c t.permitted_fee
        %td.a-right-cell= c t.late_interest
        %td.center
        %td.center
        %td.center
