- title "Borrowers List"

.report

  %table.borrowers_list
    %tr
      %th Borrower Name
      %th Borrower Type
      %th Personal Identification, incorporation or registration number:
      %th Loan Account No.
      %th Date of Loan
      %th Loan Amount
    - @borrower_loans.each do |borrower_loan|
      %tr
        %td
          = borrower_loan.borrower.name
          %p.small
            Hand Phone: #{borrower_loan.borrower.hand_phone}
          %p.small
            Business Phone: #{borrower_loan.borrower.business_phone}
          %p.small
            Home Phone: #{borrower_loan.borrower.home_phone}
        %td= borrower_loan.borrower.annual_income
        %td= borrower_loan.borrower.mail_address
        %td= borrower_loan.loan.account_no
        %td= borrower_loan.loan.application
        %td= number_to_currency borrower_loan.loan.amount

