- title "Borrowers List"

.report

  %table.borrowers_list
    %tr
      %th.date Borrower Name
      %th.date.center Borrower Type
      %th.date.center Personal Identification, incorporation or registration number:
      %th.date.center Loan Account No.
      %th.date.center Date of Loan
      %th.date.center Loan Amount
    - @borrower_loans.each do |borrower_loan|
      %tr{:class => cycle("c", "n")}
        %td.a-left-cell
          = borrower_loan.borrower.name
          %p.small
            Hand Phone: #{borrower_loan.borrower.hand_phone}
          %p.small
            Business Phone: #{borrower_loan.borrower.business_phone}
          %p.small
            Home Phone: #{borrower_loan.borrower.home_phone}
        %td.center= borrower_loan.borrower.annual_income
        %td.center= borrower_loan.borrower.mail_address
        %td.center= borrower_loan.loan.account_no
        %td.center= borrower_loan.loan.application
        %td.center= c borrower_loan.loan.amount

