.menu_left
  %ul.menu_list
    - if current_user

      -#%li= link_to "Lenders", lenders_path
      -# if request[:controller] == "lender"
        %ul
          %li= link_to "New Lender", new_lender_path

      %li= link_to "Books", books_path
      - if request[:controller] == "Book"
        %ul
          %li= link_to "New Book", new_book_path

      %li= link_to "People", people_path
      - if request[:controller] == "people"
        %ul
          %li= link_to "New Person", new_person_path

      %li= link_to "Loans", loans_path
      - if request[:controller] == "loans"
        %ul
          %li= link_to "Loan Calculator", calculators_path
          %li= link_to "Loan Disbursement", new_loan_path
          %li= link_to "Collection", loans_path

      %li= link_to "Company Transactions", company_transactions_path
      - if request.env["PATH_INFO"] =~ /transaction/
        %ul
          %li= link_to "New Transaction", new_transaction_path
          %li= link_to "Receipts", receipts_company_transactions_path
          %li= link_to "Payments", payments_company_transactions_path
          %li
            %span= "Book Transfer"
          %li
            %span= "Accounts"

      %li= link_to "Reports", reports_root_path
      - if request.env["PATH_INFO"] =~ /\/reports/
        %ul
          %li= link_to "Payment Schedule", reports_payment_schedules_path
          %li
            %span= "For Submission"
          %li
            %span= "For Records"
          %li
            %span= "Borrower Reports"
          %li= link_to "Borrowers List", reports_borrowers_lists_path
          %li
            %span= "Book Statements"
          %li
            %span= "Payment Due Report"
          %li
            %span= "Loan Status"

      %li= link_to "Settings", settings_root_path
      - if request.env["PATH_INFO"] =~ /\/settings/
        %ul
          %li= link_to "Company Profile", company_profiles_path
          %li= link_to "User Rights", settings_user_rights_path
          %li= link_to "Company Configuration", company_configurations_path
          %li= link_to "Client Details Modification", people_path


      %li= link_to "Logout", logout_path

    - else
      %li= link_to "Login", login_path
      %li= link_to "Register", new_user_path

