- title "Payment Due from #{d @reports_params.date_start} - #{d @reports_params.date_end}"

.report
  %table.payment_due
    %tr
      %th.date{:rowspan => 2} Due Date
      %th.date.center{:rowspan => 2}  Loan Account no
      %th.date{:rowspan => 2}  Borrower Name
      %th.date.center{:rowspan => 2}  Loan amount
      %th.date{:colspan => 2} Amount paid to Date
      %th.date{:rowspan => 2}  Due Amount
      %th.date{:rowspan => 2}  Contact No
    %tr
     
      %th.date Principal
      %th.date Interest
    - @transactions.each do |t|
      %tr
        %td.a-left-cell= d t.date
        %td.center= t.loan.try(:account_no)
        %td.a-left-cell= t.loan.borrowers.map(&:name).join(", ")
        %td.center= t.loan.amount
        %td.center= t.principal
        %td.center= t.interest
        %td.center= t.amount
        %td.a-left-cell= t.loan.borrowers.map(&:home_phone).join(", ")


= render "shared/print"
