- title "Payment Schedule"

.report

  %dl
    %dt Loan Account No:
    %dd= @loan.account_no
  %dl
    %dt Loan Date:
    %dd= l @loan.application
  %h3 Borrowers
  - @loan.borrowers.each do |borrower|
    %dl
      %dt Name:
      %dd= borrower.name
    %dl
      %dt Address:
      %dd= borrower.mail_address
    %dl
      %dt Home Phone:
      %dd= borrower.home_phone
    %dl
      %dt Hand Phone:
      %dd= borrower.hand_phone
    %dl
      %dt Business Phone:
      %dd= borrower.business_phone
    %hr
  %h3 Sureties
  - @loan.sureties.each do |surety|
    %dl
      %dt Name:
      %dd= surety.name
    %dl
      %dt Address:
      %dd= surety.mail_address
    %dl
      %dt Home Phone:
      %dd= surety.home_phone
    %dl
      %dt Hand Phone:
      %dd= surety.hand_phone
    %dl
      %dt Business Phone:
      %dd= surety.business_phone
    %hr

  %table.payment_schedule
    %tr
      %th Payment No
      %th Date of Payment
      %th Amount
      %th Principal
      %th Interest
    - total_amount    = 0.0
    - total_principal = 0.0
    - total_interest  = 0.0
    -@loan.payments.each_with_index do |payment, num|
      %tr
        %td= num+1
        %td= l payment.paid_on
        %td= number_to_currency(payment.amount) 
        %td= number_to_currency(payment.loan.principal_fee) 
        %td= number_to_currency(payment.loan.interest_fee) 
        - total_amount    += payment.amount
        - total_principal += payment.loan.principal_fee
        - total_interest  += payment.loan.interest_fee
    %tr
      %td Total
      %td
      %td= number_to_currency total_amount
      %td= number_to_currency total_principal
      %td= number_to_currency total_interest
