- semantic_form_for resource do |form|
  = form.input :lender
  = form.input :sureties
  = form.input :borrowers
  = form.input :account_no
  = form.input :application, :as => :string
  = form.input :loan_type,  :as => :select,  :collection => ["Daily", "Monthly"]
  = form.input :amount
  = form.input :interest
  = form.input :remarks
  = form.input :schedule_type
  = form.input :grace_period
  = form.input :first_payment_at, :as => :string
  = form.input :maturity_at, :as => :string

  = form.input :acceptance_fees
  = form.input :revolving_credit_approval
  = form.input :late_repayment
  = form.input :terms_of_contract_variation
  = form.input :cheque_dishonour
  = form.input :preclousure_termination_fees
  = form.input :legal_fees

  = form.input :terms
  = form.input :language

  = form.commit_button
