= semantic_form_for resource do |form|
  = form.inputs :name => "Common" do
    = form.input :lender
    = link_to "New Person", new_person_path
    = form.inputs :name => "Borrowers", :id => "borrowers" do
      = form.input :borrowers
      = link_to "New Person", new_person_path
    = form.inputs :name => "Sureties", :id => "sureties" do
      = form.input :sureties
      = link_to "New Person", new_person_path
    = form.input :account_no
    = form.input :application, :as => :string
    = form.input :loan_type,  :as => :select,  :collection => ["Type1", "Type2"], :include_blank => false
    = form.input :amount

  = form.inputs :name => "Interest Calculation (%)", :id => "interest" do
    = form.input :interest
    = form.input :no_of_terms
    = form.input :interest_type, :as => :radio, :collection => [["Simple", "simple"], ["Monthly cum Daily Interest (Monthly)", "monthly_cum_daily"], ["Daily Interest (Monthly)", "daily"], ["Late Interest (Monthly)", "late"]]
    = form.input :simple_interest_method, :as => :select, :collection => Loan::SIMPLE_INTEREST_METHODS, :include_blank => false
    
  = form.inputs :name => "Permitted Fees", :id => "permitted_fees" do
    = form.input :acceptance_fees
    = form.input :revolving_credit_approval
    = form.input :late_repayment
    = form.input :terms_of_contract_variation
    = form.input :cheque_dishonour
    = form.input :preclousure_termination_fees
    = form.input :legal_fees

  = form.inputs :name => "Payment Schedule", :id => "payments_schedule" do
    = form.input :schedule_type, :as => :radio, :collection => Loan::SCHEDULE_TYPE, :include_blank => false
    = form.input :grace_period
    = form.input :first_payment_at, :as => :string
    = form.input :maturity_at, :as => :string

    - if resource.id
      %h2 Payment Details
      = link_to "New Payment", new_loan_payment_path(resource)
      %table
        %tr
          %th Date
          %th Amount
          %th Remarks
          %th Actions
        - resource.payments.each do |payment|
          %tr
            %td= payment.paid_on
            %td= payment.amount
            %td= payment.remarks
            %td
              = link_to "Edit", edit_loan_payment_path(resource, payment)
              = link_to "Destroy", loan_payment_path(resource, payment), :confirm => 'Are you sure?', :method => :delete

  = form.inputs :name => "Misc", :id => "misc" do
    = form.input :bankruptcy_declaration
    = form.input :remarks
    = form.input :terms
    = form.input :language
  = form.buttons do
    = form.commit_button

