- title "Loans"
%table
  %tr
    %th Lender
    %th Account No
    %th Loan Type
    %th State
    %th Amount
    %th Interest
    %th Actions
  - for loan in collection
    %tr
      %td= loan.lender.name
      %td= loan.account_no
      %td= loan.loan_type
      %td= loan.state
      %td= loan.amount
      %td= loan.interest
      %td
        = link_to "Show", loan
        = link_to "Edit", edit_loan_path(loan)
        = link_to "Destroy", loan, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Loan Disbursement", new_loan_path
