- title "Loans"
%table.loans
  %tr
    %th Lender
    %th Account No
    %th Loan Type
    %th State
    %th Amount
    %th Interest
    %th Actions
  - for loan in collection
    %tr{:class => cycle("c", "n")}
      %td= loan.lender.name
      %td= loan.account_no
      %td= loan.loan_type
      %td= loan.state
      %td= loan.amount
      %td= loan.interest
      %td.actions
        = link_to "Show / Edit", edit_loan_path(loan)
        -#= link_to "Destroy", loan, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Loan Disbursement", new_loan_path
