- title "Loans"
%table
  %tr
    %th Name
  - for loan in @loans
    %tr
      %td= loan.name
      %td= link_to "Show", loan
      %td= link_to "Edit", edit_loan_path(loan)
      %td= link_to "Destroy", loan, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Loan", new_loan_path
