- title "Aging Report"

.report_header
  %h2 Aging Statement as on #{d Date.today}


.report
  %table.borrower-st
    %tr
      %th.date Borrower(s) Name(s)
      %th.date Loan Account No
      %th.date Loan Date
      %th.date.a-right-cell Total
      %th.date.a-right-cell 3 Days
      %th.date.a-right-cell 7 Days
      %th.date.a-right-cell 14 Days
      %th.date.a-right-cell 21 Days
      %th.date.a-right-cell 30 Days
      %th.date.a-right-cell 60 Days
      %th.date.a-right-cell 90 Days
      %th.date.a-right-cell= "> 90 Days"
    - @loans.each do |loan|
      - next unless loan.overdue
      %tr
        %td.a-left-cell= loan.borrowers.map(&:name).join(", ")
        %td.center= loan.account_no
        %td.center= loan.application
        %td.a-right-cell= loan.overdue
        %td.a-right-cell= "x" if loan.overdue >= 3  && loan.overdue < 7
        %td.a-right-cell= "x" if loan.overdue >= 7  && loan.overdue < 14
        %td.a-right-cell= "x" if loan.overdue >= 14 && loan.overdue < 21
        %td.a-right-cell= "x" if loan.overdue >= 21 && loan.overdue < 30
        %td.a-right-cell= "x" if loan.overdue >= 30 && loan.overdue < 60
        %td.a-right-cell= "x" if loan.overdue >= 60 && loan.overdue < 90
        %td.a-right-cell= "x" if loan.overdue == 90
        %td.a-right-cell= "x" if loan.overdue > 90

