- title "Loan status"

.report
  %table.borrower-st
    %tr
      %th.date.center Account No
      %th.date.center State
      %th.date.center Amount
      %th.date.center Interest
      %th.date.center No of Terms
    - @loans.each do |loan|
      %tr
        %td.center= loan.account_no
        %td.center= loan.state
        %td.center= loan.amount
        %td.center= loan.interest
        %td.center= loan.no_of_terms
