%h2 FORM 3
- title "LOAN ACCOUNT BOOK"

.report_header
  %table
    %tr
      %td.strong{:colspan=>2} Particulars of loan
      %td.strong{:colspan=>2} Particulars of borrower(s)
      %td.strong{:colspan=>2} Particulars of surety(ies)
    %tr
      %td Loan account number:
      %td.strong= @loan.account_no
      %td Name of borrower(s): 
      %td
        - @loan.borrowers.each do |b|
          %strong= b.name
          %br
      %td Name of surety:
      %td
        - @loan.sureties.each do |s|
          %strong= s.name
          %br
    %tr
      %td Previous loan account number (if any):
      %td
      %td Personal identification, incorporation or registration number:
      %td
        - @loan.borrowers.each do |b|
          %strong= b.identification_no
          %br
      %td Personal identification, incorporation or registration number:
      %td
        - @loan.sureties.each do |s|
          %strong= s.identification_no
          %br
    %tr
      %td Date of Loan:
      %td.strong= @loan.application
      %td Business Phone
      %td
        - @loan.borrowers.each do |b|
          %strong= b.business_phone
          %br
      %td Business Phone
      %td
        - @loan.sureties.each do |b|
          %strong= b.business_phone
          %br
    %tr
      %td Interest rate per annum:
      %td.strong= @loan.interest
      %td Home Phone
      %td
        - @loan.borrowers.each do |b|
          %strong= b.home_phone
          %br
      %td Home Phone
      %td
        - @loan.sureties.each do |b|
          %strong= b.home_phone
          %br
    %tr
      %td Dates when repayments fall due:
      %td.strong
      %td Hand Phone
      %td
        - @loan.borrowers.each do |b|
          %strong= b.hand_phone
          %br
      %td Hand Phone
      %td
        - @loan.sureties.each do |b|
          %strong= b.hand_phone
          %br
    %tr
      %td Tenure of Loan:
      %td.strong= @loan.no_of_terms
      %td Address
      %td
        - @loan.borrowers.each do |b|
          %strong= b.mail_address
          %br
      %td Address
      %td
        - @loan.sureties.each do |b|
          %strong= b.mail_address
          %br
    %tr
      %td First payment at:
      %td.strong= @loan.first_payment_at
      %td Business Address
      %td
        - @loan.borrowers.each do |b|
          %strong= b.business_address
          %br
      %td Business Address
      %td
        - @loan.sureties.each do |b|
          %strong= b.business_address
          %br

%h3 Repayment history

.report
  %table.fullpx
    %tr
      %th.center.date Date
      %th.center.date Mode of payment, e.g. cash, cheque, interbank GIRO
      %th.center.date Total amount paid ($) (D) = (A)+(B)+(C)
      %th.center.date Amount paid towards principal ($) (A)
      %th.center.date Amount paid towards interest (including late interest) ($) (B)
      %th.center.date Amount paid towards permitted fees (including late fees) ($)
      %th.center.date Overdue and Outstanding principal ($)
      %th.center.date Cash Account Book Entry No.
      %th.center.date Receipt No.
    - total_amount = 0.0
    - total_principal = 0.0
    - total_total_interest = 0.0
    - total_total_fees = 0.0
    - @transactions.each do |t|
      %tr
        %td.center.date= t.date
        %td.center= t.payment_type.titleize
        %td.center= c t.amount
        %td.center= c t.principal
        %td.center= c t.total_interest
        %td.center= c t.total_fees
        %td.center= c @loan.outstanding_principal t.date
        %td.center= t.id
        %td.center= t.receipt_no
      - total_amount += t.amount
      - total_principal += t.principal
      - total_total_interest += t.total_interest
      - total_total_fees += t.total_fees
    %tr.total
      %td.center
      %td Total
      %td.center= c total_amount
      %td.center= c total_principal
      %td.center= c total_total_interest
      %td.center= c total_total_fees
      %td.center
      %td.center
      %td.center



